* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color_black: #0c0c0c;
  --color_white: #ffffff;
  --color_grey: #e1dfe5;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color_black);
}

body {
  background-color: var(--color_grey);
  color: var(--color_black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 4rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

h1 {
  text-transform: uppercase;
}

.balls_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.SuperBalls {
  display: inline-block;
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 4px 4px 6px #ffffff31;
  cursor: pointer;
}

.SuperBalls:nth-of-type(1) {
  background: linear-gradient(45deg, #ae4a74, #2e4057);
}

.SuperBalls:nth-of-type(2) {
  background: linear-gradient(to top, #d3a376, #3e2522);
}

.SuperBalls:nth-of-type(3) {
  background: conic-gradient(#d3a376, #ef4648);
}

.SuperBalls:nth-of-type(4) {
  background: radial-gradient(#6e3482, #f5ebfa);
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 2rem;
  letter-spacing: 2px;
  color: #38979c;
  font-weight: 500;
  border: none;
  background: #e1dfe5;
  box-shadow: 10px 10px 30px #bfbec3, -10px -10px 30px #ffffff;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}

button:hover {
  color: #f04770;
  background: linear-gradient(145deg, #cbc9ce, #f1eff5);
  box-shadow: 10px 10px 30px #bfbec3, -10px -10px 30px #ffffff;
}
